
.container{
    max-width: 1250px;
    width: 90%;
    margin: auto;
}
.container-2{
    max-width: 1140px;
    width: 90%;
    margin: auto;
}

.hero-about{
    background: url('https://images.pexels.com/photos/7942516/pexels-photo-7942516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-articulo{
    background:url("/src/img/articulo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.7s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.7s ease-in-out forwards;
}

.bg-black-light{
    background-color: rgba(0, 0, 0, 0.44);
}

